*

!.gitignore
!.gitconfig
!.config/


!.config/i3
!.config/i3/*

!.config/polybar
!.config/polybar/*

!.config/picom
!.config/picom/*

!.fonts
!.fonts/**/*

!.themes
!.themes/**/*

!github
!github/rofi
!github/rofi/**/*


!Pictures
!Pictures/wallpapers
!Pictures/wallpapers/*


!install-utils.sh